*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html,
body{
    width:100%;
    height:100%;
    overflow:hidden;

    font-family:Arial, Helvetica, sans-serif;

    background:#202020;
    color:white;
}

#app{
    display:flex;
    width:100vw;
    height:95%;
}


/* ========================= */
/* Liste des troupes */
/* ========================= */


#troopList{

    display:flex;

    flex-direction:column;

    gap:8px;


    /* Taille fixe */
    height:40%;
    min-height:200px;

    overflow-y:auto;
    /* Scroll uniquement si nécessaire */
    overflow-y:auto;


    padding-right:5px;

}

.troopButton{

    width:100%;

    padding:12px;

    border:none;

    border-radius:8px;

    background:#444;

    color:white;

    cursor:pointer;

    font-size:15px;

    transition:0.2s;

}

.troopButton:hover{

    background:#5a5a5a;

}

.troopButton.selected{

    background:#2b84ff;

    color:white;

}

/* ========================= */
/* Panel */
/* ========================= */

.panel{

    display:flex;

    flex-direction:column;

    gap:8px;

}

.panel label{

    font-weight:bold;

}

.panel p{

    font-size:14px;

}

/* ========================= */
/* Inputs */
/* ========================= */

select{

    width:100%;

    padding:8px;

    border:none;

    border-radius:5px;

    background:#444;

    color:white;

}

textarea{

    margin-top:10px;

    width:100%;

    height:180px;

    resize:none;

    padding:10px;

    border:none;

    border-radius:8px;

    background:#1f1f1f;

    color:#6eff6e;

    font-family:Consolas, monospace;

    font-size:13px;

}

/* ========================= */
/* Boutons */
/* ========================= */

button{

    padding:10px;

    border:none;

    border-radius:6px;

    cursor:pointer;

    background:#7DADF7;

    color:#000000;

    font-size:14px;

    transition:0.2s;

}

a{
    color:#7DADF7;
}



button:hover{

    background:#5ea0ff;

}

button:active{

    transform:scale(0.97);

}

/* ========================= */
/* Partie principale */
/* ========================= */

#main{

    flex:1;

    display:flex;

    flex-direction:column;

    overflow:hidden;

}

/* ========================= */
/* Barre du haut */
/* ========================= */

#topbar{

    margin-left: 260px;
    height:50px;

    display:flex;

    align-items:center;

    gap:15px;

    padding:0 15px;

    color:white;

}

/* ========================= */
/* Canvas */
/* ========================= */

#gameCanvas{

    flex:1;

    display:block;

    background:#111;

    cursor:crosshair;;
    width:100%;
    height:auto;

}

/* ========================= */
/* Scrollbar */
/* ========================= */

::-webkit-scrollbar{

    width:8px;

}

::-webkit-scrollbar-track{

    background:#2b2b2b;

}

::-webkit-scrollbar-thumb{

    background:#666;

    border-radius:5px;

}

::-webkit-scrollbar-thumb:hover{

    background:#888;

}

/* ========================= */
/* Recherche troupe */
/* ========================= */

#troopSearch{

    width:100%;

    padding:12px;

    margin-bottom:12px;

    border:none;

    border-radius:8px;

    background:#1f1f1f;

    color:white;

    font-size:15px;

    outline:none;

    border:2px solid #444;

    transition:0.2s;

}


#troopSearch::placeholder{

    color:#aaa;

}


#troopSearch:focus{

    border-color:#3b82f6;

    background:#252525;

}


/* ========================= */
/* Liste des troupes */
/* ========================= */

#troopList{

    display:flex;

    flex-direction:column;

    gap:8px;


    /*
      Maximum moitié de la zone sidebar
    */
    max-height:50vh;


    overflow-y:auto;


    padding-right:5px;

}


/* Scrollbar de la liste */

#troopList::-webkit-scrollbar{

    width:7px;

}


#troopList::-webkit-scrollbar-track{

    background:#1c1c1c;

    border-radius:5px;

}


#troopList::-webkit-scrollbar-thumb{

    background:#555;

    border-radius:5px;

}


#troopList::-webkit-scrollbar-thumb:hover{

    background:#777;

}


/* Boutons troupe */

.troopButton{

    flex-shrink:0;

    width:100%;

    padding:12px;

    border:none;

    border-radius:8px;

    background:#444;

    color:white;

    cursor:pointer;

    text-align:left;

    font-size:15px;

    transition:0.15s;

}


.troopButton:hover{

    background:#555;

}


.troopButton.selected{

    background:#2b84ff;

}



#colorList{

    display:grid;

    grid-template-columns:repeat(4,1fr);

    gap:8px;

}


.colorButton{

    width:40px;

    height:40px;

    border-radius:50%;

    border:2px solid #555;

    cursor:pointer;

}


.colorButton:hover{

    transform:scale(1.1);

}


.colorButton.selected{

    border:3px solid white;

}


/* ========================= */
/* Bouton caméra / recentrage */
/* ========================= */

#canvasTools{

    position:absolute;

    top:60px;

    left:295px;

    z-index:10;


    display:flex;

    flex-direction:row;

    gap:8px;

    align-items:center;

}

.canvas-button{

    width:45px;

    height:45px;

    border-radius:50%;

    border:2px solid #aaa;

    background:#2b2b2b;

    color:white;

    font-size:30px;

    line-height:40px;

    cursor:pointer;

    display:flex;

    align-items:center;

    justify-content:center;

    transition:0.2s;

}


.canvas-button:hover{

    background:#3b82f6;

    transform:scale(1.1);

}


.canvas-button:active{

    transform:scale(0.95);

}

/* Barre latérale */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    overflow-x: hidden;
}

/* Checkbox cachée */
#menu-toggle,
#menu-toggle2 {
    display: none;
}

/* Bouton */
.menu-btn {
    position: fixed;
    top: 20px;
    left: 20px;
    font-size: 30px;
    cursor: pointer;
    z-index: 100;
}

.menu-btn2 {
    position: fixed;
    top: 20px;
    right: 20px;
    font-size: 30px;
    cursor: pointer;
    z-index: 100;
}

/* Conteneur général */
.container {
    display: flex;
    transition: 0.3s ease;
}

/* Sidebar */
#sidebar {
    width: 260px;
    height: 100vh;
    background: #222;
    color: white;
    padding-top: 70px;
    position: fixed;
    left: -260px;
    transition: 0.3s ease;
}

#sidebar a:hover {
    background: #444;
}
#rightsidebar a:hover {
    background: #444;
}


/* Contenu */
.content {
    width: 100%;
    padding: 40px;
    transition: 0.3s ease;
}

/* Quand le menu est ouvert */
#menu-toggle:checked ~ #sidebar {
    left: 0;
}

#menu-toggle:checked ~ .content {
    margin-left: 260px;
}
#menu-toggle2:checked ~ #rightsidebar {
    right: 0;
}

#menu-toggle2:checked ~ .content {
    margin-right: -360px;
}

#rightsidebar {
    width: 360px;
    height: 100vh;
    background: #222;
    color: white;
    padding-top: 70px;
    position: fixed;
    right: -360px;
    top: 0;
    transition: 0.3s ease;
}

.gdoc {

    display:flex;
    align-items:center;
    margin-top: 12px;
    width:100%;

    padding:12px;

    border-radius:8px;

    background:#444;

    color:white;

    text-decoration:none;

    font-size:15px;

    cursor:pointer;

    transition:0.15s ease;

}